Ini, TOML

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments (Si usás entornos virtuales, que es lo ideal)
.venv/
venv/
ENV/
env/

# Operating System Files
.DS_Store
Thumbs.db