Ini, TOML

# Archivos compilados
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
ENV/
env/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos CSV de resultados del juego locales
*.csv